ddal-config/src/main/resources/rule-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!-- edited with XMLSpy v2010 (http://www.altova.com) by shishaomeng (ai) -->
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns="http://ddal.raptor.studio/rule-config" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://ddal.raptor.studio/rule-config">
  <xs:element name="shardRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="shardRule" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="shardRule">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="shardColumn" type="xs:string" use="required"/>
      <xs:attribute name="algorithm" type="xs:string" use="required"/>
      <xs:attribute name="param" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ruleConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="shardRules"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
