ddal-config/src/main/resources/server-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by shishaomeng (ai) -->
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns="http://ddal.raptor.studio/server-config" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ddal.raptor.studio/server-config">
	<xs:element name="users">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="user" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="user">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="accessPolicy"/>
			</xs:sequence>
			<xs:attribute name="pwd" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="table"/>
				<xs:enumeration value="seq"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="params">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rule">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
				<xs:element ref="object"/>
				<xs:element ref="privilege"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="param">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="privilege">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="object" type="xs:string"/>
	<xs:element name="ip" type="xs:string"/>
	<xs:element name="grants">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="grant"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="grant">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rule" maxOccurs="unbounded"/>
			</xs:sequence>
      <xs:attribute name="vdbName" type="xs:string" use="required"/>
			<xs:attribute name="user" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="accessPolicy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ip" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="accept"/>
						<xs:enumeration value="reject"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="serverConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="params"/>
				<xs:element ref="users"/>
				<xs:element ref="grants"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
